body {
  background-color: #8fd6e1;
  display: flow-root;
  height: 95vh;
  background-image: url(/assets/root\ bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#main {
  background-color: #3babca4d;
  display: flow-root;
  border-radius: 20px;
  border-color: #7b113a;
  border-width: 5px;
  padding: 5px;
  border-style: solid;
  height: 95vh;
  width: 95vw;
  margin: auto;
}

/* I want to implement a feature where the cogs rotate in anti-parallel as we scroll */

#scroll {
  margin: auto;
  float: right;

  display: flow-root;
  border-radius: 20px;
  margin: 5px;
  border-color: #6d1414;
  border-width: 5px;
  border-style: solid;
  height: 92vh;
  width: 70px;
  position: sticky;
}
#overlayed-scroll {
  background-color: #00d9ff6c;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
#cogHeart {
  width: 70%;
  position: relative;
  float: left;
  display: block;
}

#cogHeart2 {
  width: 60%;
  float: right;
  display: block;
  position: relative;
  margin-top: 1px;
}
